@charset "utf-8";

/* default settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--background);
}

a {
    text-decoration: none;
    color: var(--light-purple);
}

main {
    overflow: hidden !important;
}

.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50vh;
    width: 100%;
    background: #5100A2;
    color: var(--white);
    text-wrap: wrap;
}

.top-texts {

    display: flex;
    justify-content: space-between;
    margin: 2em 4em 1em 4em;
}

.top-texts h2,
span {
    font-family: "Knewave", system-ui;
    font-size: 1.8em;
}

.top-texts span {
    color: #FBA2B0;
    font-size: 1.2em;
}

.top-texts h2 {
    color: #5CE1E6;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 3em;
}

.btnSection{
    text-align: center;
}

.images{
    padding: 0 180px;
    position: absolute;
    top: 45vh;
    display: flex;
    justify-content: space-between;
    width: 100vw;
}   
.bottom-texts {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    align-items: flex-end;
    text-align: center;
    margin: 4em;
}

.bottom-texts img {
    width: 9em;
}

iframe {
    max-width: 900px;
    width: 90%;
    height: 30em;
    transform: scaleY(-1);
}

.landing-seguiment {
    background-repeat: no-repeat;
    background-size: cover;
    transform: scaleY(-1);
}

.section-title {
    text-align: center;
    margin-top: 3em;
    margin-bottom:0;
    font-family: Gliker;
    color: #5100A2;
}

.section-title hr{
    margin: 5px auto;
    width: 300px;
}

.learn-playing {
    display: flex;
    justify-content: center;
}

.aside-texts {
    padding-left: 50px;
    width: 50%;
}

.aside-texts h3 {
    margin: 1em;
    text-align: justify;
    color: #5CE1E6;
}

.aside-texts p {
    margin: 2em;
    text-align: justify;
}

.aside-assets {
    width: 40%;
    margin: auto;
}

hr {
   display: flex;
   justify-content: center;
   align-items: center;
    border: var(--dark-purple) 1px solid;
  
}

.call-to-action {
    background-image: linear-gradient(to bottom, var(--light-purple) 20%, transparent 40%), url(../assets/images/cta-background.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: var(--white);
}

.calling-to-action {
    display: flex;
    width: 30%;
    flex-direction: column;
}

.cta-asset img {
    width: 200px;
}

.call-to-action .btn {
    width: 80%;
    margin-top: 2em;
    padding: 1em;
}


@media screen and (max-width: 768px) {
    .landing-page {
        /* background: url(../assets/images/side-wave_background-to-phones.jpg); */
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }

    .top-texts {
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: var(--black);
        gap: 8em;
        margin: 1em;
    }

    .top-texts h2:nth-child(2) {
        color: var(--dark-purple);
    }

    .center-asset {
        display: none;
    }

    .bottom-texts {
        display: flex;
        height: 25%;
        margin: 1em;
        justify-content: center;
        align-items: flex-end;
        text-align: center;
        color: var(--dark-purple);
    }

    .sign-in {
        background: var(--dark-purple);
        border: solid var(--cyan) 1px;
    }

    .login {

        border: solid var(--cyan) 1px;
    }

    .login:hover {
        background: var(--dark-purple);
        border: solid var(--cyan) 1px;
    }


    .landing-seguiment {
        /* background-image: linear-gradient(to bottom, var(--light-purple) 25%, transparent 55%), url(../assets/images/side-wave_background-to-phones.jpg); */
        background-repeat: no-repeat;
        background-size: cover;
        transform: scaleY(-1);
    }

    .learn-playing {
        display: flex;
        flex-direction: column;
    }

    .aside-texts {
        width: 80%;
        margin: auto;
        padding-left: 0;
    }

    .aside-texts p {
        /* margin: 2em 0.5em; */
        margin: 0;
        text-align: justify;
    }

    .aside-assets {
        margin: auto;
    }

    .avaliation {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .avaliation:nth-child(2) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .call-to-action {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .calling-to-action {
        width: 70%;
    }

    .cta-asset img {
        width: 300px;
    }
}

@media screen and (width < 768px) {

    iframe {
        height: 25em;
    }
}

@media screen and (width < 560px) {

    iframe {
        height: 20em;
    }
}

@media screen and (width < 470px) {

    iframe {
        height: 15em;
    }
}

@media screen and (width < 350px) {

    iframe {
        height: 10em;
    }
}